<h1>Cuestionario de victimización </h1>
<p>Por favor indícanos si te ha pasado algo de lo que a continuación indicamos en la lista relacionado 

con tus compañeros (as ) de la escuela. Recuerda que esta denuncia es totalmente confidencial 

y el objetivo es que si alguna situación está sucediendo en tu escuela la podamos detener y 

solucionar con personas expertas en el tema que se interesan por mejorar la convivencia en la 

escuela y apoyar a todos los estudiantes, creemos que cualquier forma de violencia en la escuela 

debe ser detenida y que ningún alumno debe sentirse mal de ninguna manera. Estamos contigo y 

te apoyamos hoy y siempre :)
</p>
<%= form_for red_ligth do |f|%>
	Mail: <%= f.text_field :mail %>
    Nombre: <%= f.text_field :name %></br>
    <%= f.hidden_field :institution_code, value: institution %></br>
    <%= f.hidden_field :type_denunce, value: 'personal'%>
    <center>
    <table width="97%;">
	    <tr>
	     <td><b>Preguntas</b></td>
	     <td width="40px;"><b>Selecciona las que sucedan</b></td>
	    </tr>
	    <tr><td>Me  han golpeado con la intención de lastimarme en el último mes en la escuela</td><td><%= f.check_box :question_1,value: false%></td></tr>
	    <tr><td>Me han dañado  o lastimado el cuerpo de alguna manera</td><td><%= f.check_box :question_2,value: false %></td></tr>
	    <tr><td>Me han amenazado con hacerme algo que me puede dañar</td> <td><%= f.check_box :question_3,value: false %> </td></tr>
	    <tr><td>Me han amenazado con hacerme daño o lastimarme si digo algo de lo que me hacen </td><td><%= f.check_box :question_4,value: false %></td></tr>
	    <tr><td>Han inventado rumores para hacerme sentir mal a propósito y para que los demás no me hablen</td><td><%= f.check_box :question_5,value: false %></td></tr>
	    <tr><td>No me han dejado participar en alguna actividad para hacerme sentir mal</td><td><%= f.check_box :question_6 ,value: false%></td></tr>
	    <tr><td>Me ignoran, hacen como que no existo para dañarme de alguna manera </td><td><%= f.check_box :question_7,value: false %></td></tr>
	    <tr><td> Siento que no me puedo defender de esta persona o estas personas</td><td><%= f.check_box :question_8,value: false %></td></tr>
	    <tr><td>Estoy asustado , triste y me siento indefenso ante lo que me hacen </td><td><%= f.check_box :question_9,value: false %></td></tr>
	    <tr><td>Siento que no quiero ir a la escuela para evitar sentirme mal a causa de algún compañero (a) </td><td><%= f.check_box :question_10,value: false %></td></tr>
	    <tr><td>He inventado pretextos para no ir a la escuela para evitar que me molesten </td><td><%= f.check_box :question_11,value: false %></td></tr>
	    <tr><td>Me han dicho cosas que me hieren, humillan, lastiman y no sé cómo detenerlo  </td><td><%= f.check_box :question_12,value: false %></td></tr>
	    <tr><td>Me dicen un apodo o groserías que me lastiman </td><td><%= f.check_box :question_13,value: false%></td></tr>
	    <tr><td>Se han burlado de mi persona, o de mis gustos, o de mi forma de vestir y lo han hecho a propósito con la intención de dañarme </td><td><%= f.check_box :question_14,value: false%></td></tr>
	    <tr><td>Se ríen cuando hablo o participo en clase con la intención de que me sienta mal </td><td><%= f.check_box :question_15,value: false%></td></tr>
	    <tr><td>Me han faltado el respeto a través de mensajes por celular o por alguna red social con la intención de afectarme y hacerme sentir mal</td><td><%= f.check_box :question_16,value: false%></td></tr>
	    <tr><td>Han subido algún video de mi en alguna situación vergonzosa que me hace sentir mal , apenado, avergonzado </td><td><%= f.check_box :question_17,value: false%></td></tr>
	    <tr><td>Me han escondido material de clase, cuadernos, mochila para molestarme </td><td><%= f.check_box :question_18,value: false%></td></tr>
	    <tr><td>Han dañado mi material,  mis útiles etc... con la intención de hacerme sentir mal y afectarme </td><td><%= f.check_box :question_19,value: false%></td></tr>
    </table>
    </center>
    <div>
    <p><b>¿Existe alguna otra cosa que nos quieres platicar con respecto al tema?</b></p></br>
    <%= f.text_area :history, cols:80, rows:10%></br>
    <p><b>¿Quieres decirnos el nombre de los agresores a los agresores?</b> <a id="responce_si_1" class="afirmation" data-target="aggressors_1">Si</a> | <a id="responce_no_1" class="negation" data-target="aggressors_1">No</a></p></br>
    <div id="aggressors_1" style="display:none;">
    	<%= f.text_area :aggressors, cols:80, rows:10%></br>
    </div>
    </div>
    <%= f.submit "Generar Reporte"%>

<%end%>

