<% red_lights.each do |red_ligth| %>
  <div class="list">
    <% peligrosidad = red_ligth.operator.to_s.downcase.gsub!(/\s+/, '-') %>
    <%= link_to red_light_path(red_ligth.id) do %>
    <div class="list-item"  style="<%= 'background:#E8E7E7;' if red_ligth.alert_view != true %>">
      <div class="list-item-grade <%= peligrosidad %>">
      </div>
      <h5> <span class="case-id"><%= red_ligth.id %> · </span><span><%= red_ligth.operator %> </h5>
      <p><% red_ligth.types_of_violence.each do |types_of_violence|%>
      <span class="case-grade"> · <%= types_of_violence %></span>
      <%end%></p>
      <i class="i i-go arrow-link"></i>
    </div>
    <% end %>
  </div>
<%end%>