<h1>Cuestionario respondido nยบ <%= red_ligth.id %></h1>
Indice: <%= red_ligth.operator %>
<center>
	<div style="text-align:justify; width:95%;">
		<b>Casos</b></br></br>

		<% interptreter_quest(red_ligth.type_denunce, red_ligth.id).each do |r| %>
		  <%= r%></br>
		<%end%></br>
		<b>Histioria y faltantes</b>

		<%= simple_format(red_ligth.history) %>
		<b>Agresores</b>

		<%= simple_format(red_ligth.aggressors) %>
	</div>
</center>