<div class="intro-element bg-bluegradient">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
					<h3># <%= @red_ligth.id %> Denuncia</h3>
        </div>
      </div>
    </div>
   </div>
  </div>

<% peligrosidad = @red_ligth.operator.to_s.downcase.gsub!(/\s+/, '-') %>
<div class="detail-element <%= peligrosidad %>">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="title title-line">
            <%= link_to user_path(current_user.id) do %>
            <i class="i i-back"></i>
            <% end %> 
              
            <h5><%= @red_ligth.operator %></h5>

            <p><% @red_ligth.types_of_violence.each do |types_of_violence|%> <%= types_of_violence %><%end%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cases">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-6">
        <div class="col-inner">
          <div class="list-cases">
            <h5>Casos de violencia detectados</h5>
             <% interptreter_quest(@red_ligth.type_denunce, @red_ligth).each do |caso| %>
                <div class="case-item">
                  <p><%= caso %></p>
                </div>
              <%end%></br>
          </div>
        </div>
      </div> 
<div class="col col-6">
        <div class="col-inner">
          <div class="others">
              <% if !@red_ligth.history.empty?  %>
                <h5>Histioria y faltantes</h5>
                <%= simple_format(@red_ligth.history) %>
              <%end%>
              <% if !@red_ligth.aggressors.empty?  %>
                <h5>Agresores</h5>
                <%= simple_format(@red_ligth.aggressors) %>
              <%end%>
              <% if !@red_ligth.name.empty?  %>
                 
                  <% if @red_ligth.deliver  %>
                      <h5>Victima</h5>
                      Nombre: <%= @red_ligth.name %></br>
                      Email: <%= @red_ligth.mail %></br>
                     <%else%>
                      <% if @red_ligth.operator == 'Peligrosidad Grave' %>
                         <% if current_user.adviser  %>
                           <a id="liber" href="#" data-remote="true">Liberar el nombre</a>
                           <div id="aviso" style="display:none;">
                             <p>ATENCIÓN</p>
                             <p>Atención, ésta es Información importante para la institución, la herramienta de denuncia es un medio de manejo de información, no nos  hacemos responsables de su uso incorrecto.</br>
                             A continuación presentamos algunas recomendaciones a seguir ante la información que se va a derivar de la herramienta de denuncia. Es importante mencionar que la información que se genera es sensible y debe ser manejada con mucha cautela y responsabilidad y que de de preferencia debe ser utilizada con apoyo de especialistas en materia de violencia escolar.</br>
                             El primer paso a seguir al recibir la información de denuncia es:</br>
                             <b>1.</b> Corroborar mediante observación que el acoso escolar  está sucediendo. Es muy importante no hacer pública la denuncia en este momento ni ante la víctima ni ante los agresores. Si se comprueba  que está presentándose  algún caso de victimización es necesario identificar al agresor y  los agresores y proceder al paso 2.</br>
                             <b>2.</b> Contactar algunas institución o asociación civil que se dedica a prevenir y atender casos de violencia escolar. Recomendamos pedir apoyo para generar un plan en conjunto con la comunidad escolar (maestros, padres de familia y alumnos) a favor de la convivencia y para que al mismo tiempo en lo que se desarrolla el plan de intervención  la víctima sea canalizada para atención por especialistas en los casos que se requiera.
                             Aquí tenemos dos sugerencias con la información de  dos instituciones con sus contactos vía telefónica o correo electrónico.</br>
                             Consejo ciudadano DF</br>
                             Amberes #54 Col. Juárez C.P. 06600 México D.F. Tels. 5533 5519 / Email: contacto@consejociudadanodf.org.mx</br>
                             Escuelas sin violencia Ciudad de México
                             Secretaría de educación
                             Ubicado en Jalapa No. 15, 6º piso, Colonia Roma, Delegación Cuauhtémoc
                             Centro de Atención Telefónica: 50805705, 50805706 y 50805721</br></p>
                             <%= link_to 'Lo entiendo y deseo continuar', deliver_parts_path(id: @red_ligth.id)%>
                           </div>
                           <%else%>
                           <p>Para conocer los datos específicos de lo occurrido ponte en contacto con un asesor.</p>
                         <%end%>
                      <%else%>
                           <a id="liber" href="#" data-remote="true">Liberar el nombre</a>
                           <div id="aviso" style="display:none;">
                             <p>ATENCIÓN</p>
                              <p>Atención, ésta es Información importante para la institución, la herramienta de denuncia es un medio de manejo de información, no nos  hacemos responsables de su uso incorrecto.</br>
                              A continuación presentamos algunas recomendaciones a seguir ante la información que se va a derivar de la herramienta de denuncia. Es importante mencionar que la información que se genera es sensible y debe ser manejada con mucha cautela y responsabilidad y que de de preferencia debe ser utilizada con apoyo de especialistas en materia de violencia escolar.</br>
                              El primer paso a seguir al recibir la información de denuncia es:</br>
                              <b>1.</b> Corroborar mediante observación que el acoso escolar  está sucediendo. Es muy importante no hacer pública la denuncia en este momento ni ante la víctima ni ante los agresores. Si se comprueba  que está presentándose  algún caso de victimización es necesario identificar al agresor y  los agresores y proceder al paso 2.</br>
                              <b>2.</b> Contactar algunas institución o asociación civil que se dedica a prevenir y atender casos de violencia escolar. Recomendamos pedir apoyo para generar un plan en conjunto con la comunidad escolar (maestros, padres de familia y alumnos) a favor de la convivencia y para que al mismo tiempo en lo que se desarrolla el plan de intervención  la víctima sea canalizada para atención por especialistas en los casos que se requiera.
                              Aquí tenemos dos sugerencias con la información de  dos instituciones con sus contactos vía telefónica o correo electrónico.</br>
                              Consejo ciudadano DF</br>
                              Amberes #54 Col. Juárez C.P. 06600 México D.F. Tels. 5533 5519 / Email: contacto@consejociudadanodf.org.mx</br>
                              Escuelas sin violencia Ciudad de México
                              Secretaría de educación
                              Ubicado en Jalapa No. 15, 6º piso, Colonia Roma, Delegación Cuauhtémoc
                              Centro de Atención Telefónica: 50805705, 50805706 y 50805721</br></p>
                             <%= link_to 'Lo entiendo y deseo continuar', deliver_parts_path(id: @red_ligth.id)%>
                           </div>
                      <%end%>
                  <%end%>
              <%else%>
                <h5>Denuncia anónima</h5>
              <%end%>
          </div>
        </div>
      </div> 
    </div> 
  </div>
</div>						
<div class="intro comments">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <% if  @red_ligth.operator == 'Peligrosidad Grave' %>
            <%= render partial: '/internal_comunication/comment_content', locals: {red_ligth: @red_ligth}%>
          <%end%>
        </div>
      </div> 
    </div> 
  </div>
</div>



