<h1>La insitutción <%=@institution.name%> necesita ayuda.</h1>
<p>
	<p>Datos de la institutción:</p> </br>
    <p>Persona encargada: <%= @user.name %></p> </br>
    <p>Email: <%= @user.email %></p> </br>
    <p>Teléfono: <%= @institution.phone %></p> </br>
    <p>Extención: <%= @institution.extencion %></p> </br>
</p>

<p>
   <p>Título del mensaje: <%= @title%></p></br>
   <p>Descripcción:</p></br>
   <p><%= @description %></p>
</p>