<fieldset class="question-area">
  <div class="l8col-r4col">
    <div class="left">
      <%= content_tag(:p, "Ingresa tu pregunta")%>
      <%= f.text_field :title, class:"white"%>
    </div>
    <div class="right">
      <div class="select-type">
        Tipo de pregunta:<br/>
        <%= f.select :question_type , [['Selección múltiple', 'mULT'], ['Escalas', 'sCAL'], ['Opciones', 'tEXT'], ['Campo', 'cAMP']], class:"full" %>
      </div>
    </div>
  </div>
<div id="puts_answers_<%=rand(5..2000)%>"></div>

<div class="">
<div class="">
  <p>Escribe las opciones de respuesta a continuación separadas por una coma (,) como en el ejemplo:</p>
</div>
  <%= f.text_area :question_requires, value: "Opción 1, Opción 2, Opción 3",  rows: 3, class:"white"%>
</div>

  <div class="remove">
    <%= link_to_function "X", "remove_fields(this)" %>
  </div>

</fieldset>
