
<fieldset class="question-area">
  <%= content_tag(:p, "Ingresa tu pregunta")%>
  <%= f.text_field :title %>
  <div class="select-type">
    Tipo de pregunta: <%= f.select :question_type ,[['Multiple', 'mULT'], ['Escalas', 'sCAL'], ['Texto', 'tEXT'], ['Campo', 'cAMP']] %>
  </div>
  <div id="puts_answers_<%=rand(5..2000)%>"></div>
  <div class="select-type">
    Escribe las opciones de respuesta a continuaci贸n separadas por una coma (,) como en el ejemplo: <%= f.text_area :question_requires, value: "Opci贸n 1, Opci贸n 2, Opci贸n 3",  rows: 3%>
  </div>

  <div class="remove">
    <%= link_to_function "Remover", "remove_fields(this)" %>
  </div>
</fieldset>
