<%#= javascript_include_tag :defaults, :cache => true %>
<%= form_for @cuestionary do |f|%>
                <div class="titlebox ">
                  <h4>Crear cuestionario</h4>
                </div>
              </div>
              <div class="">
                <div class="left">
                  <%= content_tag(:p, "Título")%>
                  <%= f.text_field :title, placeholder: 'Título del cuestionario' %>
                </div>
                <div class="right">
                  <%= content_tag(:p, "Instrucciones")%>
                  <%= f.text_area :instructions, placeholder: 'Escribe las indicaciones correspondientes' %>
                </div>  
                </div>

          
            <%= render partial: 'form', locals:{f: f}%>

<% end %>

