<% if session[:languaje]== 'en' %>
<div class="titlebox intro intro-contact bg-blue">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="titlebox-content">
            <h2>Contact</h2>
            <p>We are here to answer any questions</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contact-form">
  <div class="wrapper">
    <div class="cols-12">
      <%= form_tag('/statics_views/mail_to_contact', class: 'validate') do -%>
      <div class="col col-6">
        <div class="col-inner">
          <div class="form-contenido">
            <%= label_tag 'email *' %></br>
            <%= email_field_tag 'email', '' , placeholder: 'you@email.com', required: true %></br>
            <%= label_tag 'name *' %></br>
            <%= text_field_tag 'nombre', '' , placeholder: 'Name', required: true %></br>
            <%= label_tag 'School *' %></br>
            <%= text_field_tag 'institucion', '' , placeholder: 'School', required: true%></br>
            <%= label_tag 'Position *' %></br>
            <%= text_field_tag 'cargo', '' , placeholder: 'Position', required: true%></br>    
          </div>
        </div>
      </div>
      <div class="col col-6">
        <div class="col-inner">
          <div class="form-contenido validate">
            <%= label_tag 'Telephone *' %>
            </br>
            <%= number_field_tag'phone', '' , placeholder: 'Telephone', required: true%>
            </br>
            <%= label_tag 'Number extension *' %>
            </br>
            <%= number_field_tag 'extencion', '' , placeholder: 'Number extension', required: true%>
            </br>
            <%= label_tag 'Subject *' %>
            </br>
            <%= text_area_tag 'tema', '' , placeholder: 'Subject', required: true %>
            </br>
            <div>
              <span class="btn btn-input btn-form"><%= submit_tag 'Contact'%></span>
            </div>
          </div>
        </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
<%else%>
<div class="titlebox intro intro-contact bg-blue">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="titlebox-content">
            <h2>Contacto</h2>
            <p>Estamos cerca de tí para aclarar tus dudas</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contact-form">
  <div class="wrapper">
    <div class="cols-12">
      <%= form_tag('/statics_views/mail_to_contact', class: 'validate') do -%>
      <div class="col col-6">
        <div class="col-inner">
          <div class="form-contenido">
            <%= label_tag 'email *' %></br>
            <%= email_field_tag 'email', '' , placeholder: 'tu@correo.com', required: true %></br>
            <%= label_tag 'Nombre *' %></br>
            <%= text_field_tag 'nombre', '' , placeholder: 'Nombre completo', required: true %></br>
            <%= label_tag 'Institución *' %></br>
            <%= text_field_tag 'institucion', '' , placeholder: 'Nombre de tu institución educativa', required: true%></br>
            <%= label_tag 'Cargo *' %></br>
            <%= text_field_tag 'cargo', '' , placeholder: 'Cargo que desempeñas', required: true%></br>    
          </div>
        </div>
      </div>
      <div class="col col-6">
        <div class="col-inner">
          <div class="form-contenido validate">
            <%= label_tag 'Teléfono *' %>
            </br>
            <%= number_field_tag'phone', '' , placeholder: 'Número Telefónico', required: true%>
            </br>
            <%= label_tag 'Extensión *' %>
            </br>
            <%= number_field_tag 'extencion', '' , placeholder: 'Extensión', required: true%>
            </br>
            <%= label_tag 'Tema *' %>
            </br>
            <%= text_area_tag 'tema', '' , placeholder: 'Coloque aqui la descripcción detallada de su asunto', required: true %>
            </br>
            <div>
              <span class="btn btn-input btn-form"><%= submit_tag 'Contactar'%></span>
            </div>
          </div>
        </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
<%end%>