<div class="titlebox intro intro-diagnostico bg-green">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="titlebox-content">
            <h2>Autodiagnóstico</h2>
            <p>Diagnostica la situación de violencia en tu institución</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-7">
        <div class="col-inner">
          <div class="info">
            <h3>¿Cómo funciona?</h3>
            <p>Este proceso se lleva a cabo dentro del sistema de Radar con una dirección única por escuela que permite su fácil desarrollo logístico. El personal de la institución debe seguir una guía de aplicación de los instrumentos.</p>
          </div>
        </div>
      </div>
      <div class="col col-5">
        <div class="col-inner">
          <div class="paddingtop">
            <%=image_tag('phone2.png')%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bullying-detection intro bg_diagnostico bg_blue">
  <div class="wrapper">

      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner ">
            <h3>La participación es de todos</h3>
          </div>
        </div>
      </div>
    
    <div class="section-title">
      <div class="cols-12">
        <div class="col col-4">
          <div class="col-inner">
            <%=image_tag('directivo.png')%>
            <h4>Directivos</h4><p>Responsables del control en la institución</p>
          </div>
        </div>
        <div class="col col-4">
          <div class="col-inner">
            <%=image_tag('profesora.png')%>
            <h4>Profesores</h4><p>Vinculo e identificador de bullying</p>
          </div> 
        </div>
        <div class="col col-4">
          <div class="col-inner">
            <%=image_tag('alumnos.png')%>
            <h4>Alumnos</h4><p>Víctimas o testigos de bulling en su escuela</p>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>


<div class="funcion">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h3>Función del auto diagnóstico</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4">
        <div class="col-inner">
          <%=image_tag('d_img1.png')%>
          <p>Se arroja un resultado acerca de la situación de violencia escolar  a manera de semáforo y entrega información a la institución</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <%=image_tag('d_img2.png')%>
          <p>Se analizan las formas generales de violencia desde un enfoque multivariado que incluye distintos indicadores </p>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <%=image_tag('d_img3.png')%>
          <p>Se ofrece Información relevante acerca del bullying e instituciones especializadas que pueden otorgar ayuda en caso de ser necesario.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="call intro bg-greengradient">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h3>¿Quieres monitorear tu institución?</h3>
          </div>
          <p>Registrate y te notificaremos cuando auto diagnostico este listo.</p>
          <div class="suscribe">
            <%= form_tag('/statics_views/subscriber', class: 'validate') do -%>
            <%= text_field_tag 'email','', :placeholder =>  'tu@correo.com', class:"suscribe-field mail", required: true%>
          
          <div class="send">
            <span class="btn btn-suscribe">
              <%= submit_tag 'Enviar'%>
              <%end%>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>