<div class="titlebox intro intro-foco bg-orange">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="titlebox-content">
            <h2><%= t('conf_co.complain')%></h2>
            <p><%= t('conf_co.part')%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-7">
        <div class="col-inner">
          <div class="info">
            <h3><%= t('conf_co.works')%></h3>
            <p><%= t('conf_co.process')%></p>
          </div>
        </div>
      </div>
      <div class="col col-5">
        <div class="col-inner">
          <div class="paddingtop">
            <%=image_tag('iphone1.png')%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bullying-detection intro bg_foco1 bg_blue">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner ">
          <h3><%= t('conf_co.bullying')%></h3>
        </div>
      </div>
    </div>
    
    <div class="section-title">
      <div class="cols-12">
        <div class="col col-6">
          <div class="col-inner">
            <%=image_tag('victima.png')%>
            <%= t('conf_co.victim').html_safe%>
          </div>
        </div>
        <div class="col col-6">
          <div class="col-inner">
            <%=image_tag('testigos.png')%>
            <%= t('conf_co.testify').html_safe%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tipos-bullying">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <%= t('conf_co.identify').html_safe%>
          </div>
          <%= t('conf_co.indicators').html_safe%>
        </div>
      </div>
    </div>
    <div class="col col-12">
      <div class="col-inner ">
        <div class="bulying-types">
          <div class="b-tipe">
            <%= label_tag(t('conf_co.indicator_a'))%>
          </div>
          <div class="b-tipe">
            <%= label_tag(t('conf_co.indicator_b'))%>
          </div>
          <div class="b-tipe">
            <%= label_tag(t('conf_co.indicator_c'))%>
          </div>
          <div class="b-tipe">
            <%= label_tag(t('conf_co.indicator_d'))%>
          </div>
          <div class="b-tipe">
            <%= label_tag(t('conf_co.indicator_e'))%>
          </div>
          <div class="b-tipe">
            <%= label_tag(t('conf_co.indicator_f'))%>
          </div>
          <div class="b-tipe">
            <%= label_tag(t('conf_co.indicator_g'))%>
          </div>
          <div class="b-tipe">
            <%= label_tag(t('conf_co.indicator_h'))%>
          </div>
        </div>
        <div class="big">
          <%=image_tag('semaforo_dashboard.png')%>
        </div>
        <div class="small">
          <span><%=image_tag('semaforosmall.png')%></span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="call intro bg-redgradient">
<div class="wrapper">
<div class="cols-12">
  <div class="col col-12">
    <div class="col-inner">
      <div class="section-title">
        <%= t('conf_co.monitoring').html_safe %>
      </div>
      <%= t('conf_co.legend_monitoring').html_safe %>
      <span>
      <%= link_to t('conf_co.register_now'), register_path, class: "nav-btn btn btn-call" %>
      </span>
    </div>
  </div>
</div>
</div>
</div>