<div class="titlebox intro intro-foco bg-orange">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="titlebox-content">
            <h2>Denuncia confidencial</h2>
            <p>Reporta casos de bullying de manera confidencial</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-7">
        <div class="col-inner">
          <div class="info">
            <h3>¿Cómo funciona?</h3>
            <p>Radar provee un formulario online que puede integrarse en el sitioweb de la escuela, su plataforma Cúrsame así como desde una dirección electrónica y las notificaciones de los casos llegan al  conocimiento de las autoridades correspondientes.</p>
          </div>
        </div>
      </div>
      <div class="col col-5">
        <div class="col-inner">
          <div class="paddingtop">
            <%=image_tag('iphone1.png')%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bullying-detection intro bg_foco1 bg_blue">
  <div class="wrapper">

      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner ">
            <h3>Detección de casos de bullying</h3>
          </div>
        </div>
      </div>
    
    <div class="section-title">
      <div class="cols-12">
        <div class="col col-6">
          <div class="col-inner">
            <%=image_tag('victima.png')%>
            <p>Mediante la denuncia de los propios<br/>alumnos(as) que son <span>víctimas</span><br/> en la escuela</p>
          </div>
        </div>
        <div class="col col-6">
          <div class="col-inner">
            <%=image_tag('testigos.png')%>
            <p>Mediante la denuncia<br/> de alumnos(as) <span>testigos</span><br/> de casos de bullying en la escuela</p>
          </div> 
        </div>
      </div>
    </div>

  </div>
</div>


<div class="tipos-bullying">
  <div class="wrapper">
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <div class="section-title">
              <h3>Identificación del grado de victimización</h3>
            </div> 
            <p>A manera de semáforo es posible detectar la severidad de cada caso mediante los diferentes indicadores:</p>
          </div>
        </div>
      </div>


        <div class="col col-12">
          <div class="col-inner ">
              <div class="bulying-types">
       
                <div class="b-tipe">
                  <%= label_tag('Burlas')%>
                </div>
                <div class="b-tipe">
                  <%= label_tag('Exclusión')%>               
                </div>
                <div class="b-tipe">
                  <%= label_tag('Cyberbullying')%>                
                </div>
                <div class="b-tipe">
                  <%= label_tag('Agresión verbal')%>                
                </div>
                <div class="b-tipe">
                  <%= label_tag('Daño a pertenencias')%>               
                </div>
                <div class="b-tipe">
                  <%= label_tag('Bullying psicológico')%>               
                </div>
                <div class="b-tipe">
                  <%= label_tag('Amenaza')%>               
                </div>
                <div class="b-tipe">
                  <%= label_tag('Violencia física')%>
                </div>

              </div>

                <div class="big">
                  <%=image_tag('semaforo_dashboard.png')%>
                </div>
                <div class="small">
                  <span><%=image_tag('semaforosmall.png')%></span>
                </div>
              </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="call intro bg-redgradient">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h3>¿Quieres monitorear tu institución?</h3>
          </div>
          <p>Rápido, seguro, eficaz y confidencial. Estás a un paso de frenar el bullying </p>
          <span>
            <%= link_to "¡Registrate ahora!", register_path, class: "nav-btn btn btn-call" %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
