<div class="intro home-intro">
  <div class="wrapper">
    
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="center-content">
            <% if session[:languaje]== 'en' %>
            <h1 class="home">Anti bullying Resource<br/>Analysis Diagnostic and Report</h1>
            <h6>Identify, anticipate and address school violence to become a part of the educational community solution.</h6>
            <%else%>
            <h1 class="home">Recurso Antibullying de<br/>Diagnóstico, Análisis y Reporte</h1>
            <h6>Identifica, prevé y atiende casos de violencia escolar y se parte</br>de la solución en tu comunidad educativa.</h6>
            <%end%>
          </div>
        </div>
      </div>
    </div>

    <div class="cols-12">
      <div class="col col-6">
        <div class="col-inner">
          <div class="block bg-orange">
            <div class="block-content">
              <% if session[:languaje]== 'en' %>
              <h3>Confidential Complaint</h3>
              <p>Report bullying in a confidential way</p>
                <%= link_to "More information → ", foco_rojo_path, class: "nav-btn btn btn-outline" %>
              <div class="img-block">
                <%=image_tag('img_block1.png')%>
              </div>
              <%else%>
              <h3>Denuncia Confidencial</h3>
              <p>Denuncia al reportar casos <br/>de bullying de manera confidencial.</p>
                <%= link_to "Más información → ", foco_rojo_path, class: "nav-btn btn btn-outline" %>
              <div class="img-block">
                <%=image_tag('img_block1.png')%>
              </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-6">
        <div class="col-inner">
          <div class="block bg-green">
            <div class="block-content">
              <% if session[:languaje]== 'en' %>
              <h3>Auto diagnostic</h3>
              <p>Auto evaluation inside the institution to prevent school violence</p>
              <%= link_to "More information → ", diagnostico_path, class: "nav-btn btn btn-outline" %>
              <div class="img-block">
                <%=image_tag('img_block2.png')%>
              </div>
              <%else%>
              <h3>Autodiagnóstico</h3>
              <p>Autoevaluación dentro de la institución <br/>para prevenir la violencia escolar</p>
              <%= link_to "Más información → ", diagnostico_path, class: "nav-btn btn btn-outline" %>
              <div class="img-block">
                <%=image_tag('img_block2.png')%>
              </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>