<div class="titlebox intro intro-us bg-blue">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="titlebox-content">
            <h2><%=t('us.title')%></h2>
            <p><%=t('us.part')%> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-7">
        <div class="col-inner">
          <div class="info">
            <h3><%=t('us.second_title')%></h3>
            <h4><%=t('us.second_sub_head')%> </h4>
            <p> <%=t('us.second_part')%> </p>
          </div>
        </div>
      </div>
      <div class="col col-5">
        <div class="col-inner">
          <div class="paddingtop">
            <%=image_tag('school.png')%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="us-info intro bg-bluegradient">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h3> <%=t('us.about_cursame')%> </h3>
          </div>
           <%=t('us.content_abount_con')%>
        </div>
      </div>
    </div>
  </div>
</div>