<div class="intro bg-bluegradient">
  <div class="wrapper">
    
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="contenido">
            <div class="title-config">
              <h2>Integra radar en tu instituci贸n</h2>
              <%= image_tag ('steps.png') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="">
  <div class="wrapper">
    
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="contenido">
             <textarea id="jquery" class="copy-script" style="display:none;">
             <script type="text/javascript">$.get("<%=action_host%>/app/red_lights_js?<br/>
institution=<%=data.tokenspecialforms%>&pathx=/", function(data)
{$('#redalert').html(data)});</script>
            <div id="redalert"></div>
             </textarea>
            <textarea id="red_acces" class="copy-script" >
            <script type="text/javascript">$.get("<%=action_host%>/app/red_lights_js?institution=<%=data.tokenspecialforms%>&pathx=/", function(data) {$('#redalert').html(data)});</script>
            <div id="redalert"></div>
            </textarea>
          </div>
          
          <div class="btn-copy">
            <span id="copy_jquery" class="btn btn-embed" data-target="jquery">
              <%= submit_tag 'Copiar C贸digo con Jquery' %>
            </span>

            <span id="copy_red_acces" class="btn btn-embed" data-target="red_acces">
              <%= submit_tag 'Copiar C贸digo Embed' %>
            </span>
          </div>

          <div class="note">
            <p><span>nota:</span>
            El sistema de radar esta validado para utilizar jquery
            en caso de no tenerlo instalado en<br/> su Web es necesario que 
            peque el c贸digo de jquery, en caso de ya tenerlo solo el embed code.
            </p>
          </div>
            </div>
            </div>
            </div>
            </div>