<div class="intro bg-bluegradient">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="contenido">
            <div class="title-config">
              <h2>Integra radar en tu institución</h2>
              <%= image_tag ('steps.png') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="config">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="contenido">
            <p> Si tu institución no tiene página web, puedes utilizar el siguiente link para que los alumnos denuncien </br> 
                <a href="<%=action_host%>/alert_point?institution=<%=data.tokenspecialforms%>" target="_blank" class="btn btn-embed btn-copy">
                Cuestionaro de violencia
                </a>
            </p>
              <textarea id="jquery" class="copy-script" style="display:none;">
                <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
                <script type="text/javascript">$.get("<%=action_host%>/app/red_lights_js?institution=<%=data.tokenspecialforms%>&pathx=/&subdomain=www", function(data){$('body').append(data)});</script>
              </textarea>
              <textarea id="red_acces" class="copy-script">
                <script type="text/javascript">$.get("<%=action_host%>/app/red_lights_js?institution=<%=data.tokenspecialforms%>&pathx=/&subdomain=www", function(data) {$('body').append(data)});
                </script> 
              </textarea>

            <div class="buttons">
              <div class="btn-copy">
                <span id="copy_jquery" class="btn btn-embed" data-target="jquery">
                  <%= submit_tag 'Copiar Código con Jquery' %>
                </span>

                <span id="copy_red_acces" class="btn btn-embed" data-target="red_acces">
                  <%= submit_tag 'Copiar Código Embed' %>
                </span>
              </div>
            </div>
            <div class="note">
              <p><span>nota:</span>
              El sistema de radar esta validado para utilizar jquery,
              en caso de no tenerlo instalado, es necesario que 
              pegue el código de jquery, en caso de ya tenerlo sólo el embed code.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
