<div class="intro bg-bluegradient">
  <div class="wrapper">
    
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="contenido">
            <div class="title-config">
              <h2>Integra radar en tu instituci贸n</h2>
              <%= image_tag ('steps.png') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="">
  <div class="wrapper">
    
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="contenido">
            <textarea class="copy-script" >
            <!--Require jquery-->
            <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
            <!--Embed code-->
            <script type="text/javascript">$.get("<%=action_host%>/app/red_lights_js?institution=<%=data.tokenspecialforms%>&pathx=/", function(data) {$('#redalert').html(data)});</script>
            <div id="redalert"></div>
            </textarea>
          </div>
          
          <div class="btn-copy">
            <span class="btn btn-embed">
              <%= submit_tag 'Copiar C贸digo Completo' %>
            </span>

            <span class="btn btn-embed">
              <%= submit_tag 'Copiar C贸digo Embed' %>
            </span>
          </div>

          <div class="note">
            <p>Nota:</p>
            <p>
            El sistema de radar esta validado para utilizar jquery
            en caso de no tenerlo instalado en su Web es necesario que
            peque el c贸digo de jquery, en caso de ya tenerlo solo el embed code.
            </p>
          </div>


            </div>
            </div>
            </div>
            </div>