<div class="intro bg-bluegradient intro-panel">
  <div class="wrapper">
    
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="contenido">
          <div class="title-dashboard">
            <div class="school-name">
              <h2>Estado Actual de Peligrosidad</h2>
              <i class="i i-school"></i>
            </div>
            <h4><%= data.name %></h4>
          </div>
          <div class="current-stat-grade">
            <div class="speech" style="left: <%= number_with_precision(index_by_institution_violence(data), :precision => 2) %>%;">
              <h3> <%= number_with_precision(index_by_institution_violence(data), :precision => 2) %> % </h3> 
              <span>Indicador de peligro</span>
              <span class="tip"></span>
            </div>
            <div class="grades">
              <div class="lights-imgages light-green">
                
                <p>peligrosidad moderada</p>
              </div>
              <div class="lights-imgages light-yellow">

                <p>peligrosidad media</p>
              </div>
              <div class="lights-imgages light-red">

                <p>peligrosidad grave</p>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="total-filtro">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="filter-line">
            <span class="tip2"></span>
              <div class="total">
                <h4>Denuncias <span><%= data.red_lights.count %></span></h4>
              </div>
              <div class="experts">               
                <span>
                  <% if number_with_precision(index_by_institution_violence(data), :precision => 2).to_i > 40 && data.red_lights.count != 0 %> 
                  <i class="i i-alert"></i><%= link_to ' Tu institution requiere atención. Contacta un experto aquí', experts_path %>
                </span>
                <%end%>
              </div>  
            <div class="filtro">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
            <div>
              <% @red_lights = data.red_lights.paginate(:page => params[:page], :per_page => 5).order('created_at DESC')%>
              <%= render :partial => '/red_lights/show', locals: {red_lights: @red_lights }%>
              <div id="act_acces">
              </div>
              <% if @red_lights.total_pages > 1 && params[:page].to_i != @red_lights.total_pages.to_i %>
                  <div class="load-more">
                    <span class="btn btn-load">
                    <div id="paginate">
                      <%= link_to 'Cargar más denuncias', red_lights_paginate_path(page: 2, institution: data), remote: true, class: 'sig' %>
                    </div>
                    </span>
                  </div>
              <%end%>
            </div>
      </div>
    </div>
  </div>
</div>