<div class="intro bg-bluegradient intro-panel">
  <div class="wrapper">
    
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="contenido">
          <div class="title-dashboard">
            <div class="school-name">
              <h2>Estado Actual de Peligrosidad</h2>
              <i class="i i-school"></i>
            </div>
            <h4><%= data.name %></h4>
          </div>
          <div class="current-stat-grade">
            <div class="speech" style="left: <%= "50" %>%;">
              <h3> <%= number_with_precision(index_by_institution_violence(data), :precision => 2) %> % <i class="i i-arrow3"></i> </h3> 
              <span>Indicador de peligro</span>
              <span class="tip"></span>
            </div>
            <div class="grades">
              <%= image_tag ('semaforo_dashboard.png') %>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="total-filtro">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="filter-line">
            <div>
              <h4>Denuncias totales <%= data.red_lights.count %>  </h4>
            </div>
            <div class="filtro">
              <p>Ordenar por:</p>
            </div>
           </div>
          </div>
      </div>
    </div>
  </div>
</div>


<div class="box-list">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="filter-line">
            <div>
    <% @red_lights = data.red_lights.paginate(:page => params[:page], :per_page => 5).order('created_at DESC')%>
    <% @red_lights.each do |r| %>
    <%= render :partial => '/red_lights/show', locals: {red_ligth: r }%>
    <%end%>

    <div>
      <%= will_paginate @red_lights %>
    </div>
    <div class="load-more">
      <span class="btn btn-load">
        <%= submit_tag 'Cargar más Denuncias' %>
      </span>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>

