<div class="intro bg_login">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="loginbox">
            <div class="title-sign">
                <h5> Inicia sesión</h5>
                <p>O regístrate</p>
                <span><%= link_to "aquí", register_path, class: "nav-bottom" %></span>
            </div>
            <div class="content">
              <%= form_tag('/users/session_create', class: 'validate') do -%>
              <%= label_tag 'Usuario' %>
              <%= email_field_tag 'email', '' , placeholder: 'tu@correo.com', required: true %>
              <br/>
              <%= label_tag 'password' %>
              <%= password_field_tag 'password', '' , placeholder: 'Contraseña', required: true %>
              <div>
                <span class="btn btn-input btn-outline "><%= submit_tag 'Iniciar' %></span>
              </div>
              <% end -%>
            </div>
            <div class="bottomsign">
              <span class="a-sign"> 
                <%= link_to "¿Olvidaste tu contraseña?", mail_to_reconfirm_password_path%>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



