<h2>Ingresa</h2>
<%= form_tag('/users/session_create') do -%>
  <%= label_tag 'email' %>
  <%= email_field_tag 'email', '' , placeholder: 'Email' %>
  <%= label_tag 'password' %>
  <%= password_field_tag 'password', '' , placeholder: 'Contraseña'  %>
  <div><%= submit_tag 'Iniciar', :class => 'btn-outline' %></div>
<% end -%>