<div class="intro intro_login">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <%= form_for @user, :html => {:class => "validate"} do  |f|%>
        <div class="col-inner">  
          <div class="loginbox white_transparent register ">
            <div class="title-sign">
              <h5> Regístrate</h5>
              <p>O inicia sesión</p>
              <span><%= link_to "aquí", login_path, class: "nav-bottom" %></span>
            </div>
            <div class="col col-6"> 
              <div class="column">  
                <%= f.label :nombre %></br>
                <%= f.text_field 'name', placeholder: 'Nombre completo', required: true%></br>
                <%= f.label :email %></br>
                <%= f.text_field 'email', placeholder: 'tu@correo.com', required: true%></br>
                <%= f.label :contraseña %></br>
                <%= f.password_field :password, placeholder: 'Mínimo_8_caracteres', required: true%></br>
                <%= f.label :confirma_contraseña %></br>
                <%= f.password_field :password_confirmation, placeholder: '', required: true %></br>
              </div>
            </div>
            <div class="col col-6"> 
              <div class="column">   
                <%= f.label :cargo_que_desempeña %></br>
                <%= f.text_field 'charge', placeholder: 'Director, maestro o alumno', required: true%></br>
                <%= f.fields_for :institutions do |builder|%>                
                <%= builder.label :nombre_de_la_institución%></br>
                <%= builder.text_field :name, placeholder: 'Institución que lo solicita', required: true%></br>
                <%= builder.label :url_de_la_institución %></br>
                <%= builder.text_field :url, placeholder: 'Sitio web de la institución', required: true%></br>
                <%= builder.label :dirección_de_la_institución %></br>
                <%= builder.text_field :address, placeholder: 'Dirección de la institución', required: true%></br>
                <%= builder.label :nivel_escolar_presente_en_la_institución %></br>
                <center>
                <%= builder.select :grade_label, options_for_select({ "Primaria" => "primaria", "Secundaria" => "secundaria", "Medio Superior" => "medio superior"}) %></br></br>
                </center>
                <%= builder.label :teléfono_y_extensión %></br>
                <%= builder.number_field :phone, placeholder: '', required: true, class:"third-quarter"%>
                <%= builder.number_field :extencion, class:"one-quarter"%></br>
                <%end%>                                
              </div>
            </div>


            <div class="terminos">
              <%=  f.label :acepto_los_términos_y_condiciones_del_sitio%>
              <%= f.check_box :terms_of_service, required: true%></br>  </br>
              <%= f.submit 'Crear Usuario', class: "btn btn-outline login" %>
              <%end%>
            </div>
              
            <div class="bottomsign">
              <span class="a-sign">
                <%= link_to "¿Olvidaste tu contraseña?", mail_to_reconfirm_password_path%>
              </span>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
