<h1>Visor de mi institución </h1>
<%@user.institutions.each do |i|%>
  Institución: <%= i.name %></br>
  Url: <%= i.url %></br>
  Telefono: <%= i.phone %></br>
  Extención: <%= i.extencion if !i.extencion.nil?  %></br>
  <%= render partial: 'users/compart_form', locals: {data: i}%>
<%end%>
     <iframe src="http://localhost:3000/alert_point?institution=8e924b314edb33f6" width=500, height=600 ></iframe>
