<div class="content-admin">
  <h1>
    <i class="i i-title i-inst_title"></i>
    Instituciones
  </h1>

    <p> Instituciones que tenemos actualmente </p>

  <div class="element">
    <% @institution.each do |i| %> 
  	<h5> <%=i.name %></br></br></h5>
  <p>
    Sitio web: <%=i.url %></br>
    Teléfono: <%=i.phone %></br>
    Ext. <%=i.extencion %></br></br>
    <%=i.user.name if i.user %></br>
    <%=i.user.email if i.user %></br>
  </p>
    <%end%>
    <%= will_paginate @institution %>
  </div>
</div>