<div class="content-admin">
  <h1>
    <i class="i i-title i-inst_title"></i>
    Instituciones
  </h1>

    <p> Instituciones que tenemos actualmente </p>


    <% @institution.each do |i| %> 
      <div class="element">
  	<h5> <%=i.name %></br></br></h5>
  <p>
    Sitio web: <%=i.url %></br>
    Teléfono: <%=i.phone %></br>
    Ext. <%=i.extencion %></br></br>
    <%=i.user.name if i.user %></br>
    <%=i.user.email if i.user %></br>
    <%= link_to 'Eliminar institucuión', destroy_institution_path(id: i.id) %>
  </p>
    </div>
    <%end%>
    <%= will_paginate @institution %>

</div>