.panel.panel-default
  .panel-heading
    %h3.title= @survey.type_survey.capitalize
  .panel-body
    %p= @survey.type_survey == 'testigo' ? t('.witness_instructions') : t('.victim_instructions')
  = form_for(@user_survey) do |f|
    .panel.panel-default
      .panel-heading
        %h3.panel-title= t('.info_denouncer')
      .panel-body
        .form-group
          = label :private, t('.private')
          = check_box_tag :private
        .col-md-5
          = f.fields_for :denouncer do |denouncer|
            = render 'user_surveys/shared/denouncer_form', f: denouncer

    = f.hidden_field :survey_id, value: @survey.id

    %ul.list-group
      - @survey.questions.each do |question|
        %li.list-group-item
          = check_box_tag 'question_ids[]', question.id
          = question.text.capitalize
    .aggressors
      = f.fields_for :aggressors do |aggressor|
        = render 'aggressor_fields', f: aggressor
      .form-group
        = link_to_add_association t('.add_aggressor'), f, :aggressors, class: 'btn btn-primary'
    - if @survey.type_survey == 'testigo'
      = f.fields_for :victim do |victim|
        = render 'user_surveys/shared/victim', f: victim

    .form-group
      = link_to t('.cancel'), :back, class: 'btn btn-primary'
      = f.button t('.save'), type: 'submit', class: 'btn btn-primary'
