.container
  .card
    %h3.title= t('.edit_password')
    = form_for(@user, url: update_password_manage_user_path(@user), method: :put, html: { class: 'form', id: 'update-password-form' }) do |f|
      .form-group
        = f.label :password, t('.password')
        = f.password_field :password, class: 'form-control'
      .form-group
        = f.label :password_confirmation, t('.password_confirmation')
        = f.password_field :password_confirmation, class: 'form-control'
      .form-group
        = link_to t('.cancel'), edit_manage_user_path(@user), class: 'btn btn-primary'
        = f.button t('.save'), type: 'submit', class: 'btn btn-primary'
