  <div class="dashboard_header">
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <div class="logo">
              <%= link_to image_tag('logodashboard.png'), root_path %>
            </div>
             <ul class="dashboard-menu dropdown-wrap ">
              <li>
                <%= link_to user_path(current_user.id) do %>
                  <i class="i i-stats"></i> <span>Estado actual</span>
                <% end %>
              </li>
              <li>
                <%= link_to configurate_path do %>
                  <i class="i i-config "></i> <span>Configuración</span>
                <% end %>
              </li>
             </ul> 
             <ul class="help">
               <li class="button-help">
                <%= link_to "Ayuda", admin_path %>
               </li>
               <li class="actions">
                <div class="dropdown-wrap">
                  <div class="dropdown-pull">
                    <i class="i i-arrow1"></i>
                  </div>
                  <div class="dropdown-v right">
                    <ul>
                      <li class="option1">
                        <%= link_to 'Editar cuenta', edit_my_info_path() %>
                      </li>
                      <li class="option2">
                        <%= link_to 'Cerrar sesión', session_exit_path() %>
                      </li>
                    </ul>
                  </div>
                </div>
                </li>
             </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
