  <div class="dashboard_header">
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <div class="logo">
              <%= link_to image_tag('logodashboard.png'), root_path %>
            </div>
             <ul class="dashboard-menu">
              <li>
                <%= link_to user_path() do %>
                  <i class="i i-stats"></i> Estado actual
                <% end %>
              </li>

              <li>
                <%= link_to do %>
                  <i class="i i-config"></i> Configuración
                <% end %>
              </li>
             </ul>             
             <ul class="help">
               <li>
                <%= link_to "Ayuda", admin_path %>
               </li>
               <li>
                <%= link_to do %>
                  <i class="i i-arrow1"></i> 
                <% end %>
                </li>
             </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
