   <div class="footer">
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <div class="footer-menu">
              <%=image_tag('cursame.png')%>
              <ul class="footermenu">
                <li class="space">
                  <%= link_to "Denuncia confidencial", foco_rojo_path, class: "nav-bottom" %></li>
                <li class="space">
                  <%= link_to "Autodiagnóstico", diagnostico_path, class: "nav-bottom" %></li>
                <li class="btn_primary">
                  <%= link_to "Nosotros", nosotros_path, class: "nav-bottom" %></li>
                <li class="btn_primary">
                  <%= link_to "Actualizaciones", actualizaciones_path, class: "nav-bottom" %></li>
                <li class="language"><span> ES</span> <i class="i i-ES"></i></li>
                <li class="language"><span> EN</span> <i class="i i-EN"></i></li>
              </ul>
            </div>
            <div class="powered-by">
            <%= link_to image_tag('footerlogo.png'), "http://cursa.me", target: "_blank" %>
            </div>
          </div>
        </div>
      </div>
    </div>