<div class="footer">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="footer-menu">
            <%=image_tag('cursame.png')%>
            <ul class="footermenu">
              <li class="space">
              <%= link_to t('footer.menu_a'), foco_rojo_path, class: "nav-bottom" %></li>
              <li class="space">
              <%= link_to t('footer.menu_b'), diagnostico_path, class: "nav-bottom" %></li>
              <li class="btn_primary">
              <%= link_to t('footer.menu_c'), nosotros_path, class: "nav-bottom" %></li>
              <li class="btn_primary">
              <%= link_to t('footer.menu_d'), actualizaciones_path, class: "nav-bottom" %></li>
              <li class="btn_primary">
              <%= link_to t('footer.menu_e'), document_api_path, class: "nav-bottom" %></li>
              <li class="language"><%= link_to(locale: "es") do %><span> Es</span> <i class="i i-ES"></i><%end%></li>
              <li class="language"><%= link_to(locale: "en") do %><span> En</span> <i class="i i-EN"></i><%end%></li>
            </ul>
          </div>
          <div class="powered-by">
            <%= link_to image_tag('footerlogo.png'), "http://cursa.me", target: "_blank" %>
          </div>
        </div>
      </div>
    </div>
  </div>

