  <div class="header">
		<div class="wrapper">
			<div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
             <div class="logo">
              <%= link_to image_tag('radar.png'), root_path %>
            </div>

           <ul class="menu-main nav-top">
             <li>
               <%= link_to "Denuncia confidencial", foco_rojo_path, class: "nav-top" %></li>
             <li>
               <%= link_to "Autodiagnóstico", diagnostico_path, class: "nav-top" %></li>
             <li>
               <%= link_to "Contacto", contacto_path, class: "nav-top" %>
             </li>
           </ul>
            
            <ul class="singin-button">
              <li>
                <div>
                  <%= link_to "Iniciar sesión →", login_path, class: "login" %>
                </div>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
	</div>

